.layout {
  display: grid;
  grid-template-columns: 15vw auto;

  .section-right {

    .player-container {
      // width: 95vw;
      // overflow-x: auto;
      // white-space: nowrap;
      // margin-left: 2vw;
      // margin-right: 2vw;

      height: 95vh;
      overflow-y: scroll;
      overflow-x: hidden;

      .player {
        // display: grid;
        // grid-template-columns: 1fr 1fr 1fr 1fr;

        display: inline-flex;
        height: 100px;
        width: 250px;

        border: 1px solid lightgray;
        border-radius: 5px;
        padding: 5px;
        margin-bottom: 10px;

        // &:hover {
        //   background-color: aquamarine;
        // }

        .sync {
          width: 20px;
          display: inline-flex;
          float: right;

          fa-icon {
            &.syncStart {
              color: rgb(0, 0, 0);
            }

            &.syncSuccess {
              color: rgb(0, 106, 0);
            }

            &.syncError {
              color: rgb(181, 0, 0);
            }
          }
        }

        .card {
          width: 300px;

          .action-buttons {
            dx-button {
              margin-right: 5px;
            }
          }
        }
      }

      .selected {
        background-color: #d5ecff;
      }
    }
  }

  .section {}
}
