.layout {
	display: grid;
	grid-template-columns: 15vw auto;

	.section-right {
		.player-container {
			// width: 95vw;
			// overflow-x: auto;
			// white-space: nowrap;
			// margin-left: 2vw;
			// margin-right: 2vw;

			height: 95vh;
			overflow-y: scroll;
			overflow-x: hidden;

			.selected {
				background-color: #d5ecff;
			}


		}
	}

	.section {
		#gridContainer {
			.imgRank {
				text-align: center;

				img {
					width: 20px;
				}
			}
		}
	}
}
